<section id="servicios" class="about-services">
    <div class="contenedor">
        <br><br>
        <h2 class="titulo">Nuestros servicios</h2>
        <div class="servicio-cont">
            <div class="servicio-ind">
                <img src="./assets/imagenes/desarrollo_aplicaciones.png" alt="">
                <div style="height: 30%;">

                  <h3>Desarrollo de aplicaciones web y móviles</h3>
                  <p>Desarrollo de  aplicaciones web y móviles personalizadas para satisfacer las necesidad específica de cada uno de nuestros clientes.</p>
                </div>
            </div>

            <div class="servicio-ind">
                <img src="./assets/imagenes/software_medida.png" alt="">
                <div style="height: 30%;">
                  <h3>Desarrollo de software a medida</h3>
                  <p>Creación de soluciones de software personalizadas que se adapten a las necesidades únicas de cada cliente </p>
                </div>
            </div>
            <div class="servicio-ind">
                <img src="./assets/imagenes/consultoria.png" alt="">
                <div style="height: 30%;">
                  <h3>Servicios de consultoría tecnológica</h3>
                  <p>Sugerencias tecnológicas con el fin de poder ayudar a los clientes a elegir las mejores soluciones tecnológicas para sus necesidades y objetivos comerciales. </p>
                </div>
            </div>
            <div class="servicio-ind">
              <img src="./assets/imagenes/mantenimiento.png" alt="">

              <div style="height: 30%;">
                <h3>Mantenimiento y soporte</h3>
                <p>Servicios de mantenimiento y soporte para garantizar que los sistemas y aplicaciones de nuestros clientes funcionen correctamente y se mantengan actualizados.</p>
              </div>
            </div>
            <div class="servicio-ind">
              <img src="./assets/imagenes/inteligencia_artificial.png" alt="">
              <div style="height: 30%;">
                <h3>Servicios de inteligencia artificial y aprendizaje automático</h3>
                <p> En un futuro deseamos poder llegar a desarrollar soluciones de inteligencia artificial y aprendizaje automático para ayudar a los clientes a automatizar y mejorar sus procesos empresariales.</p>
              </div>
            </div>
            <div class="servicio-ind">
              <img src="./assets/imagenes/juegos.png" alt="">
              <div style="height: 30%;">
                <h3>Desarrollo de juegos</h3>
                <p>De igual manera en un futuro se desea poder desarrollar juegos personalizados para diferentes plataformas, desde juegos casuales hasta juegos de alta calidad y complejidad.</p>
              </div>
            </div>
        </div>
    </div>
</section>
<div>

<div class="scroll-to-top" *ngIf="isScrollTopVisible" (click)="handleScrollTopClick()" style="text-align: center;">
  <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-chevron-double-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
    <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
  </svg>

</div>


