<section id="nosotros" class="contenedor sobre-nosotros">
    <h2 class="titulo">Sobre Nosotros</h2>
    <p class="descripcicon">Somos un equipo con poca experiencia pero con muchas ganas de aprender y enfrentar nuevos retos día a día. Estaremos complacidos con poder apoyarte en la mejora de tu negocio y a la vez puedas ayudarnos con enfrentar nuevos retos. </p>
    <div class="contenedor-sobre-nosotros">
        <img src="./assets/imagenes/desciciones.png"  alt="" class="imagen-about-us ">
        <div class="contenido-textos">

            <div class="cuadro" style="background-color: #F4F6FB;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                    <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
                  </svg>
                <div>
                      <h3> Descición</h3>

                    <p>Como equipo estamos decididos a una entrega responsable y con la mayor
                        dedicación posible, siempre aprendiendo de retos nuevos y
                        superando cada uno de ellos.</p>
                </div>
            </div>
            <div class="cuadro" style="background-color: #FFF7EF;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
                    <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z"/>
                    <path d="M13 6.5a6.471 6.471 0 0 1-1.258 3.844c.04.03.078.062.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1.007 1.007 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5ZM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11Z"/>
                  </svg>
                <div>
                    <h3> Descubrimiento</h3>
                    <p>En el proceso existirán muchos contratiempos, pero cada uno de estos
                        nos ayudará a mejorar tanto como desarrolladores y como personas. Esto
                        con el fín de poder brindar un mejor producto de mejor calidad. </p>
                </div>
            </div>
            <div class="cuadro" style="background-color: #F0F9F7;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-fill-check" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514Z"/>
                    <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7.256A4.493 4.493 0 0 0 12.5 8a4.493 4.493 0 0 0-3.59 1.787A.498.498 0 0 0 9 9.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .39-.187A4.476 4.476 0 0 0 8.027 12H6.5a.5.5 0 0 0-.5.5V16H3a1 1 0 0 1-1-1V1Zm2 1.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5Zm3 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
                  </svg>
                <div>
                    <h3> Efecticividad</h3>
                    <p>Pese a los grandes retos que podamos encontrar en el camino, las
                        ganas de aprender serán aún más grande, quién nos impulsará a crear
                        soluciones innovadoras. </p>
                </div>
            </div>


        </div>
    </div>
</section>
<br>
<h2 id="valores" class="titulo">Valores y Principios</h2>
<!--Msion-->
<section  class="contenedor cont-misionMision" style="background: #f2f2f2;">
    

    <div class="contenedor-sobre-nosotros" >
        <img src="./assets/imagenes/mision.png" alt="" class="imagen-about-us mobile">
        <div >

            <!-- <h2 class="titulo">Misión</h2> -->
            <p >
                Crear soluciones de software innovadoras y eficientes para
                ayudar a nuestros clientes a alcanzar sus objetivos de negocio,
                a través de un enfoque centrado en el usuario y en la calidad del
                software. Nos esforzamos por construir relaciones duraderas con
                nuestros clientes y ser un socio confiable para su crecimiento y
                éxito en un mundo digital en constante evolución
            </p>



        </div>
        <img src="./assets/imagenes/mision.png" alt="" class="imagen-about-us desktop">
    </div>
</section>
<br>
<!--Vision-->
<section class="contenedor cont-misionMision">
    <div class="contenedor-sobre-nosotros">
        <img  src="./assets/imagenes/vision.png" alt="" class="imagen-about-us ">
        <div class="contenido-textos" style="text-align: center!important;">
            <div style="text-align: center!important;">
                <!-- <h2 class="titulo">Visión</h2> -->
            </div>
            <p>"Ser líderes en el desarrollo de soluciones de software innovadoras
                y de alta calidad que mejoren la vida de las personas y hagan que
                el mundo sea un lugar mejor. Queremos ser reconocidos por nuestra
                creatividad, excelencia en el servicio al cliente y compromiso con
                el progreso tecnológico, siempre trabajando con ética y responsabilidad
                social".</p>

        </div>
        <!-- <img  src="./assets/imagenes/vision.png" alt="" class="imagen-about-us mobile"> -->
    </div>
</section>
