<section class="clientes contenedor">
    <h2 class="titulo">Que dicen nuestros clientes</h2>
    <div class="cards">
        <div class="card" *ngFor="let comment of comentarios">
            <img src="../../../assets/img/face1.jpg" alt="">
            <div class="contenido-texto-card">
                <h4>{{comment.nombre}} {{comment.apellidopaterno}} {{comment.apellidomaterno}}</h4>
                <p>{{comment.comentario}}</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/img/face2.jpg" alt="">
            <div class="contenido-texto-card">
                <h4>Name</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sapiente!</p>
            </div>
        </div>
    </div>

</section>
